body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #2af;
}

a:visited {
  color: #faf;
}



header {
  background-image: linear-gradient(180deg,rgba(50,50,50,1),rgba(0,0,0,0));
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 20pt;
  line-height: 64pt;
  vertical-align: bottom;
}

/* for the hamburger menu */
.hamback {
  position: absolute;
  display: none;
  width: 3em;
  height: 2.7em;
  top: 1em;
  right: 1em;
  z-index: 0;
  background-color: #222;
}

.hamburger {
  position: absolute;
  width: 2em;
  height: 1.2em;
  top: 0.5em;
  left: 0.5em;
  z-index: 1;
  border-top: 0.3em solid #A17FFF;
  border-bottom: 0.3em solid #A17FFF;
}
.hamburger::before {
  position: absolute;
  top: 0.5em;
  left: 0px;
  content: "";
  width: 100%;
  border-top: 0.3em solid #A17FFF;
}
.hamburger:hover::after, .hamburger:focus::after { content: ""; }


header a {
  color: #A17FFF;
  text-decoration: none;
  transition: all 0.3s;
}

header a:hover,header a:focus {
  color: #fff;
  text-shadow: 2px 2px 5px black;
}



.signin {
  color: black;
  background-color: white;
  text-align: center;
  width: 25%;
  min-height: 50vh;
  border-radius: 35px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.signin button {
  font-size: large;
  color: white;
  background-color: #A17FFF;
  border-radius: 0.8em;
  transition: all 0.3s;
  padding: 5px;
}

.signin button:hover, signin button:focus {
  box-shadow: 2px 2px 5px black;
}

.oauth {
  width: 85%;
}

.signin button > img {
  height: 1em;
}



footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 25vh;
  background-color: #222;
}

footer a {
  font-size: small;
  color: #888;
}

footer a:visited {
  color: #888;
}

footer p {
  margin: 5px;
}


footer .quote {
  width: 25%;
  padding: 10px;
  background-color: #ddd;
  color: black;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 18pt;
  border-radius: 25px;
  cursor: pointer;
}

.break {
  height: 1em;
}




@media screen and (max-width: 1000px) {
  .hamback {display: block;}
  header {
    display: none;
    flex-flow: column nowrap;
    background-image: none;
    background-color: rgba(34,34,34,0.8);
    padding: 10px;
    line-height: 1.5em;
  }
  
  .signin {
    min-height: inherit;
    padding: 25px 0;
    width: 80%;
  }
  
  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .quote {
    margin: 20px;
    width: 75%;
    border: solid black 1px;
  }
}





@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: white;
  }
  
}
