.main {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  background-image: url(https://images.pexels.com/photos/238622/pexels-photo-238622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 65%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: flex-start;
}

.maincontent {
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width: 1000px) {
  .main {
    height: 100%;
    min-height: 100vh;
  }
  .maincontent {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
